/* CSS VARIABLES */

:root{
    --main-color: #25D366;
    --muted-color: #909090;
    --title-color: #333;
}

/* RESET'S */

ul{
    list-style: none;
}

/* GENERAL STYLES */

body{
    background-color: #e5e5e5;
    color: var(--title-color);
    font-family: 'Ubuntu', 'Arial', Helvetica, sans-serif;
    max-width: 1440px;
    line-height: 1.5;
    text-align: center;
}

h2{
    font-size: 2.25rem;
    font-weight: bold;
    margin: 15px 0;
}

h3{
    color: var(--muted-color);
    font-size: 1.5rem;
}

img{
    width: 100%;
}

p{
    color: var(--muted-color);
    font-family: 'Open Sans', 'Arial', Helvetica, sans-serif;
}

/* NAVIGATION MENU BAR */

.navigation-menu{
    background-color: var(--main-color);
}

/* INTRODUCTION SECTION */

#intro{
    min-height: 60vh;
}

#intro h2{
    margin-top: 100px;
}

.download-button{
    background-color: var(--main-color);
    border-radius: 90px;
    color: #fff;
    padding: 10px 55px;
}

.learn-more-button{
    background-color: #fff;
    border-radius: 90px;
    color: var(--main-color);
    padding: 10px 55px;
}

.buttons{
    margin: 30px 0;
}

.buttons a{
    margin: 15px;
}

/* SEPARATION LINE */

.separation-line{
    border-bottom: 2px solid var(--muted-color);
    margin: 50px 3em 100px;
}